.env
.env.local
.env.production
.env.development
.env.vercel
.env.vercel.base64
node_modules/
.next/
.vercel/
dist/
build/
public/ambulantes_actualizado.csv
public/ambulantes_actualizado.xlsx
public/data-source.js
public/index.html
public/mapa1.svg
public/negocios.html
public/negocios66.xlsx
public/peruHigh.svg
public/script.js
public/script.ts
public/styles.css
public/interface.css
public/interface.js
public/visor.js
public/visor.ts
public/visor_ambulantes.html
